<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="stalecontent:refresh" type="StaleContent.Commands.Refresh, StaleContent" />
    </commands>

    <pipelines>      
      <publishItem>
        <processor patch:before="processor[@type='Sitecore.Publishing.Pipelines.PublishItem.PerformAction, Sitecore.Kernel']"
          type="StaleContent.Pipelines.PublishItem.SetRefreshedDates, StaleContent"/>
      </publishItem>
      
      <staleContent.templateCheck>
        <processor type="StaleContent.Pipelines.TemplateCheck.Default, StaleContent">
          <InclusionList type="StaleContent.Pipelines.TemplateCheck.TemplateList, StaleContent" hint="1">
            <templates hint="list:AddTemplate">
              <!-- 
                  INCLUDE TEMPLATES SHOULD BE CHECKED FOR FRESHNESS
                  You can restrict the stales content so that it only works with certain templates.
                  
                  Example usage:                
                  <AbritraryTemplateName>{76036F5E-CBCE-46D1-AF0A-4143F9B557AA}</AbritraryTemplateName>  
              -->
            </templates>
          </InclusionList>
          <ExclusionList type="StaleContent.Pipelines.TemplateCheck.TemplateList, StaleContent" hint="2">
            <templates hint="list:AddTemplate">
              <!-- 
                  EXCLUDE TEMPLATES SHOULD NOT BE CHECKED FOR FRESHNESS
                  These are only used if no templates have been specified in the includedTemplates node.
                  
                  Example usage:                
                  <AbritraryTemplateName>{76036F5E-CBCE-46D1-AF0A-4143F9B557AA}</AbritraryTemplateName>                               
              -->
              <Root>{C6576836-910C-4A3D-BA03-C277DBD3B827}</Root>
              <MainSection>{E3E2D58C-DF95-4230-ADC9-279924CECE84}</MainSection>
              
            </templates>
          </ExclusionList>
        </processor>
      </staleContent.templateCheck>

      <staleContent.getFreshnessPeriod>
        <processor type="StaleContent.Pipelines.GetFreshnessPeriod.Default, StaleContent">
          <!--
              DEFAULT FRESHNESS PERIOD
              This must be an integer representing the number of days an item will stay fresh for.
          -->
          <defaultFreshnessPeriod>90</defaultFreshnessPeriod>
        </processor>       
      </staleContent.getFreshnessPeriod>
      
      <staleContent.buildGutterIconDescriptor>        
        <processor type="StaleContent.Pipelines.BuildGutterIconDescriptor.Default, StaleContent">
          <IconPath>Business/32x32/calendar_warning.png</IconPath>
          <TooltipKey>StaleContent.IsStaleGutterTooltip</TooltipKey>
        </processor>
      </staleContent.buildGutterIconDescriptor>      
      
      <getContentEditorWarnings>
        <processor type="StaleContent.Pipelines.GetContentEditorWarnings.IsStale, StaleContent">
          <TitleKey>StaleContent.ContentEditorWarningTitle</TitleKey>
          <TextKey>StaleContent.ContentEditorWarningText</TextKey>
          <OptionKey>StaleContent.ContentEditorRefreshOption</OptionKey>
          <IconPath>Business/32x32/calendar_warning.png</IconPath>
        </processor>
      </getContentEditorWarnings>

      <staleContent.refreshItem>
        <processor type="StaleContent.Pipelines.RefreshItem.TemplateCheck, StaleContent"/>
        <processor type="StaleContent.Pipelines.RefreshItem.DefaultFreshnessPeriod, StaleContent"/>
        <processor type="StaleContent.Pipelines.RefreshItem.DoRefresh, StaleContent"/>
      </staleContent.refreshItem>         
    
     <staleContent.freshnesscheck>
       <processor type="StaleContent.Pipelines.FreshnessCheck.Default, StaleContent" />
     </staleContent.freshnesscheck>
    </pipelines>    
  
  </sitecore>
</configuration>