<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>  
    <commands>
      <command name="stalecontent:refresh" type="StaleContent.Commands.Refresh, StaleContent" />
    </commands>

    <pipelines>      
      <publishItem>
        <processor patch:after="processor[@type='Sitecore.Publishing.Pipelines.PublishItem.PerformAction, Sitecore.Kernel']"
          type="StaleContent.Pipelines.PublishItem.SetRefreshedDates, StaleContent"/>
      </publishItem>   

      <getContentEditorWarnings>
        <processor type="StaleContent.Pipelines.GetContentEditorWarnings.IsStale, StaleContent" />
      </getContentEditorWarnings>

      <staleContent.buildGutterIconDescriptor>       
        <processor type="StaleContent.Pipelines.BuildGutterIconDescriptor.Default, StaleContent"/>
      </staleContent.buildGutterIconDescriptor>

      <staleContent.refreshItem>
        <processor type="StaleContent.Pipelines.RefreshItem.TemplateCheck, StaleContent"/>
        <processor type="StaleContent.Pipelines.RefreshItem.FreshnessPeriod, StaleContent"/>
        <processor type="StaleContent.Pipelines.RefreshItem.DoRefresh, StaleContent"/>
      </staleContent.refreshItem>         
    </pipelines>

    <staleContent>
      <includeTemplates>
        <SampleItem>{76036F5E-CBCE-46D1-AF0A-4143F9B557AA}</SampleItem>
      </includeTemplates>
      <settings>
        <!-- Stale Content Module start -->
        <setting name="StaleContent.GutterIconPath" value="Business/32x32/calendar_warning.png"/>
        <setting name="StaleContent.FreshnessPeriod" value="90"/>
        <setting name="StaleContent.RefreshConfirmationDictionaryKey" value="StaleContent.RefreshConfirmation"/>
        <setting name="StaleContent.IsStaleGutterTooltipDictionaryKey" value="StaleContent.IsStaleGutterTooltip"/>
        <!-- Stale Content Module end -->
      </settings>
    </staleContent>
  </sitecore>
</configuration>